@import url(styles/style.css) base;

section:first-of-type{
	display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 90%;
	background-color: var(--color-text);
	color: var(--color-background);
	border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 0 0.25em 0.63em rgba(0, 0, 0, 0.1);
}

.content{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2 {
    font-size: 1.5em;
    color: var(--color-background);
    margin-bottom: 1.25em;
}
  
.content p {
    font-size: 1em;
    color: var(--color-background);
    margin-bottom: 1.88em;
}

.content a{
	padding: 0.63em 1.25em;
    background-color: var(--color-accent-text);
    color: var(--color-background);
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
}

section:first-of-type img{
    background-color: #fbe9e7;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
}

section:nth-of-type(3){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25em;
}

section:nth-of-type(3) h2{
    grid-column: span 3;
}

section:nth-of-type(3) article{
    text-align: center;
    background-color: var(--color-accent-background);
}

section:nth-of-type(3) article a{
    display: flex;
    flex-direction: column-reverse;
    color: var(--color-accent-text);
}

section:nth-of-type(7){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
}
section:nth-of-type(7) h2{
    grid-column: span 2;
}
section:nth-of-type(7) img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.3em;
    transition: transform 0.3s ease, filter 0.3s ease;
}

section:nth-of-type(7) img:hover{
    width: 100%;
    height: auto;
    display: block;
    transform: scale(1.1);
    filter: brightness(0.8);
}