/**************/
/* CSS REMEDY */
/**************/

/*object fit cover*/
/* object position x en y format*/
/*	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) );*/

*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
	--color-text:#111;
	--color-background:#ffffff;
	--color-banner: #E480A1;
	--color-accent-text: #F167A2;
	--color-accent-background: #FFECF5;
}

body{
	margin:1.1em;
	background-color: var(--color-background);
	font-size: 1em;
	font-family: OPTIRadiant, Helvetica, sans-serif;
}

header{
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	color: var(--color-text);
}

main{
	display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) ); 
	width:min( calc(100% - 2em), 40em);
	margin-inline:auto;
}

nav ul{
	list-style: none;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: var(--color-text);
}

nav li{
    list-style: none;
}

img{
	width: 100%;
    height: auto;
}

footer{
	background-color: var(--color-accent-background);
}

